.site {
    background-color: #d8d8b2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainSite {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indexMainContainer {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    color: white;
    text-shadow: 0 0 2px 5px black;
}

.indexBloq {
    width: 100%;
}

.subBloq1 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.subBloq2 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.subBloq3 {
    background-color: #648C3B;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2%;
}


.subBloq4 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.subBloq5 {
    background-color: #648C3B;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    gap: 1rem;
}

.subBloq6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.subBloq7 {
    background-color: #648C3B;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    gap: 1rem;
}

.imageMenuContainer {
    position: relative;
    height: 70%;
    aspect-ratio: 16/9;
}

.Image {
    object-fit: contain;
}