.aboutContainer {
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.imgLogoContainer {
    position: relative;
    width: 100%;
    height: 700px;
}

.logoAbout {
    object-fit: contain;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}