.JBA_background_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8d8b2;;
}

.JBA_escrito_container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    gap:2em;
    padding: 2em;
}

.JBA_escrito_title {
    width: 100%;
    height: 20%;
    font-weight: bold;
}

.JBA_escrito_body {
    height: auto;
    font-weight: 400;
}

.JBA_escrito_body h1{
    margin-bottom: 0.5em;
}

.JBA_escrito_body h2{
    margin-bottom: 0.5em;
}

.JBA_escrito_body h3{
    margin-bottom: 0.5em;
}

.JBA_escrito_body figure{
    margin-bottom: 1em;
}

.escrito_iframe_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.JBA_escrito_body p{
    margin-bottom: 1em;
}

.document_image_container {
    width:90%;
    height: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.document_images {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.document_image {
    width:30%;
    flex: 1;
}  

.image_rep_escrito {
    width:100%;
    height: auto;
    object-fit: contain;
}

.document_image_container img,
.document_images img,
.document_image img,
.image_rep_escrito img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section_ol_ul {
    margin-bottom: 1em;
    padding-left: 10%;
}

.link_written_report{
    color:green;
    text-decoration: none;
    transition: color 1s ease, text-decoration 4s ease;
}

.link_written_report:hover{
    color:rgb(1, 65, 1);
    text-decoration: underline;
}