.data-statics-Container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-data-container{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.img-container-tur {
    position: relative;
    width: 500px;
    height: 100%;
}

.imageStatics {
    object-fit: contain;
}

.btn-data-container{
    height: 20%;
    width: 100%;
    display: flex;
}

.btn-container{
    width: inherit;
}

.btn-statics {
    background-color: rgb(4, 73, 73);
}

